{% extends "base_aluno.html" %}

{% block content %}

{% if messages %}
<div class="alert alert-success mt-3" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}

<a href="javascript:history.back()">
    <i class="fas fa-arrow-left"></i> Voltar
</a>

<h2 class="mt-5 mb-4">Minhas Aulas</h2>

<!-- Campo de Pesquisa -->
<form method="get" class="mb-4">
    <div class="input-group">
        <input type="text" name="search" value="{{ search_query }}" class="form-control" placeholder="Buscar por data ou professor">
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i> Buscar
        </button>
    </div>
</form>

<ul class="list-group">
    {% for aula in page_obj %}
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h5 class="mb-1">Aula em: {{ aula.data }}</h5>
                <p class="mb-1">Professor: {{ aula.professor.user.get_full_name }}</p>
                {% if aula.feedback %}
                <p class="mb-1">Feedback: 
                    {% for i in estrelas %}
                        {% if i <= aula.feedback.estrelas %}
                            <i class="fas fa-star text-warning"></i>
                        {% else %}
                            <i class="far fa-star text-warning"></i>
                        {% endif %}
                    {% endfor %}
                </p>
                <p>Comentário: {{ aula.feedback.comentario }}</p>
                {% else %}
                <br>
                <a href="{% url 'fornecer_feedback' aula.id %}" class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i> Fornecer Feedback
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<!-- Paginação -->
<div class="mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Primeira">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ num }} <span class="sr-only">(atual)</span></span>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a>
                </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Próxima">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}
