{% extends "base_professor.html" %}

{% block content %}

<a href="javascript:history.back()">
    <i class="fas fa-arrow-left"></i> Voltar
</a>


<h2 class="mt-5 mb-4">Lista de Aulas Avulsas</h2>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Data</th>
            <th>Nome do Aluno</th>
            <th>Responsável</th>
            <th>Valor da Aula</th>
            <th>Quantidade de Aulas</th>
            <th>Observações</th>
        </tr>
    </thead>
    <tbody>
        {% for aula in aulas_avulsas %}
        <tr>
            <td>{{ aula.data }}</td>
            <td>{{ aula.nome_aluno }}</td>
            <td>{{ aula.responsavel }}</td>
            <td>{{ aula.valor_aula }}</td>
            <td>{{ aula.quantidade_aulas }}</td>
            <td>{{ aula.observacoes }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}