{% extends "base_administrador.html" %}

{% block content %}

{% if messages %}
<div class="alert alert-danger mt-3" role="alert">
  {% for message in messages %}
    {{ message }}
  {% endfor %}
</div>
{% endif %}

<a href="javascript:history.back()">
    <i class="fas fa-arrow-left"></i> Voltar
</a>


<h2 class="mt-5 mb-4">Registrar Aula Avulsa</h2>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <label for="data">Data:</label>
        <input type="date" class="form-control" id="data" name="data" required>
        <div class="invalid-feedback">Por favor, selecione uma data.</div>
    </div>
    <div class="form-group">
        <label for="nome_aluno">Nome do Aluno:</label>
        <input type="text" class="form-control" id="nome_aluno" name="nome_aluno" required>
        <div class="invalid-feedback">Por favor, insira o nome do aluno.</div>
    </div>
    <div class="form-group">
        <label for="responsavel">Responsável:</label>
        <input type="text" class="form-control" id="responsavel" name="responsavel" required>
        <div class="invalid-feedback">Por favor, insira o nome do responsável.</div>
    </div>
    <div class="form-group">
        <label for="valor_aula">Valor da Aula:</label>
        <input type="number" step="0.01" class="form-control" id="valor_aula" name="valor_aula" required>
        <div class="invalid-feedback">Por favor, insira o valor da aula.</div>
    </div>
    <div class="form-group">
        <label for="quantidade_aulas">Quantidade de Aulas Dadas:</label>
        <input type="number" class="form-control" id="quantidade_aulas" name="quantidade_aulas" required>
        <div class="invalid-feedback">Por favor, insira a quantidade de aulas dadas.</div>
    </div>
    <div class="form-group">
        <label for="observacoes">Observações:</label>
        <textarea class="form-control" id="observacoes" name="observacoes"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i> Registrar
    </button>
</form>

<script>
    // JavaScript para validação do Bootstrap
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}
